body {margin:0;padding:20px;background-color:#EDE8D7;}
table {width:100%;}
#card-container {display:block;margin:0px 20px;}
#card {
	border-radius:30px;
	background-color:#FFE8D6;
	border:solid 2px #000;
	width:300px;
	-moz-box-shadow:inset 0 0 10px #888;
	-webkit-box-shadow:inset 0 0 10px #888;
	box-shadow:inset 0 0 10px #888;
	padding:15px;
}
#card-image {padding-bottom:20px;}
#card-image img {width:300px;height:300px;}
#card-text {font-size:20px;vertical-align:text-bottom;}
#card-text img {width:15px;height:15px;}

.td-l {text-align:left;font-weight:bold;}
.td-m {text-align:right;width:15px;}
.td-r {text-align:right;font-weight:none;width:20px;}


#dragon-card {
	width:330px;
	padding-top:20px;
	display:flex;
}
input {width:100%;}

.dragon {
	display:none;
	margin-top:-300px;
}







form {
	padding:20px 20px 60px 10px;
	text-align:left;
}
form #none, form #reserved, form #traded, form #sold {
	float:left;
	display:block;
	clear:right;
	margin-top:-15px;
}


#domChangeForm {opacity:0;transition:0.2s ease-out;}






.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	background-color:#D1CEBE;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #333;
}

.sidenav .closebtn {
    position: absolute;
    top: 8px;
    left: -17px;
    font-size: 36px;
	transition:0.3s
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.remove-whitespace-header2 {
	margin:5px 0px;
}